.headerTab {
    color: white;
    background-image: url(../images/right_shift.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.card {
    border-color: #8352a1!important;
    color: #8352a1;
}

.card-text {
    color:black;
}