body {
    font-family: SplineSans;
}

.card {
    border-color: #8352a1!important;
    color: #8352a1;
}

.card-text {
    color:black;
}

.bg-light {
    background-color: #8352a1!important;
}

.col {
    margin-bottom: 1rem;
}

@font-face {
    font-family: SplineSans;
    font-weight: 400;
    src: url(../fonts/SplineSans-VariableFont_wght.ttf);
}